// .row
//     width: 100%
//     flex 1 0 auto
//     flex-direction row
//     position: relative
//     margin-left: auto
//     margin-right: auto
//     margin-bottom 20px
//     flex-conainer()
$screens = {

    sm: 600px,
    md: 992px,
    lg: 1200px
}


.section
    flex-conainer()
    flex-direction  row
    // flex 1 0 auto

// .flex
//     flex-conainer()
//     flex-direction: column
//     position relative
// .flex-1,
// .flex-2,
// .flex-3,
// .flex-4,
// .flex-5,
// .flex-6,
// .flex-7,
// .flex-8,
// .flex-9,
// .flex-10,
// .flex-11,
// .flex-12,
// .flex-xs-1,
// .flex-xs-2,
// .flex-xs-3,
// .flex-xs-4,
// .flex-xs-5,
// .flex-xs-6,
// .flex-xs-7,
// .flex-xs-8,
// .flex-xs-9,
// .flex-xs-10,
// .flex-xs-11,
// .flex-xs-12,
// .flex-sm-1,
// .flex-sm-2,
// .flex-sm-3,
// .flex-sm-4,
// .flex-sm-5,
// .flex-sm-6,
// .flex-sm-7,
// .flex-sm-8,
// .flex-sm-9,
// .flex-sm-10,
// .flex-sm-11,
// .flex-sm-12,
// .flex-md-1,
// .flex-md-2,
// .flex-md-3,
// .flex-md-4,
// .flex-md-5,
// .flex-md-6,
// .flex-md-7,
// .flex-md-8,
// .flex-md-9,
// .flex-md-10,
// .flex-md-11,
// .flex-md-12,
// .flex-lg-1,
// .flex-lg-2,
// .flex-lg-3,
// .flex-lg-4,
// .flex-lg-5,
// .flex-lg-6,
// .flex-lg-7,
// .flex-lg-8,
// .flex-lg-9,
// .flex-lg-10,
// .flex-lg-11,
// .flex-lg-12
//     flex-conainer()
//     flex-direction: column
//     position relative
//     float left
// .flex-sm-1,
// .flex-sm-2,
// .flex-sm-3,
// .flex-sm-4,
// .flex-sm-5,
// .flex-sm-6,
// .flex-sm-7,
// .flex-sm-8,
// .flex-sm-9,
// .flex-sm-10,
// .flex-sm-11,
// .flex-sm-12,
// .flex-md-1,
// .flex-md-2,
// .flex-md-3,
// .flex-md-4,
// .flex-md-5,
// .flex-md-6,
// .flex-md-7,
// .flex-md-8,
// .flex-md-9,
// .flex-md-10,
// .flex-md-11,
// .flex-md-12,
// .flex-lg-1,
// .flex-lg-2,
// .flex-lg-3,
// .flex-lg-4,
// .flex-lg-5,
// .flex-lg-6,
// .flex-lg-7,
// .flex-lg-8,
// .flex-lg-9,
// .flex-lg-10,
// .flex-lg-11,
// .flex-lg-12
//     flex-basis: 100%;

// .offset-sm-1,
// .offset-sm-2,
// .offset-sm-3,
// .offset-sm-4,
// .offset-sm-5,
// .offset-sm-6,
// .offset-sm-7,
// .offset-sm-8,
// .offset-sm-9,
// .offset-sm-10,
// .offset-sm-11,
// .offset-sm-12,
// .offset-md-1,
// .offset-md-2,
// .offset-md-3,
// .offset-md-4,
// .offset-md-5,
// .offset-md-6,
// .offset-md-7,
// .offset-md-8,
// .offset-md-9,
// .offset-md-10,
// .offset-md-11,
// .offset-md-12,
// .offset-lg-1,
// .offset-lg-2,
// .offset-lg-3,
// .offset-lg-4,
// .offset-lg-5,
// .offset-lg-6,
// .offset-lg-7,
// .offset-lg-8,
// .offset-lg-9,
// .offset-lg-10,
// .offset-lg-11,
// .offset-lg-12
//     margin-left: 0
// .offset-1, .offset-xs-1
//     margin-left:  8.3333%;
// .flex-1, .flex-xs-1
//     flex-basis: 8.3333%;

// .offset-2, .offset-xs-2
//     margin-left:  16.6666%;
// .flex-2, .flex-xs-2
//     flex-basis: 16.6666%;

// .offset-3, .offset-xs-3
//     margin-left:  25%;
// .flex-3, .flex-xs-3
//     flex-basis: 25%;

// .offset-4, .offset-xs-4
//     margin-left:  33.3333%;
// .flex-4, .flex-xs-4
//     flex-basis: 33.3333%;

// .offset-5, .offset-xs-5
//     margin-left:  41.6666%;
// .flex-5, .flex-xs-5
//     flex-basis: 41.6666%;

// .offset-6, .offset-xs-6
//     margin-left:  50%;
// .flex-6, .flex-xs-6
//     flex-basis: 50%;

// .offset-7, .offset-xs-7
//     margin-left:  58.3333%;
// .flex-7, .flex-xs-7
//     flex-basis: 58.3333%;

// .offset-8, .offset-xs-8
//     margin-left:  66.6666%;
// .flex-8, .flex-xs-8
//     flex-basis: 66.6666%;

// .offset-9, .offset-xs-9
//     margin-left:  75%;
// .flex-9, .flex-xs-9
//     flex-basis: 75%;

// .flex-offset .flex-offset-s-10
//     margin-left:  83.3333%;
// .flex-10, .flex-xs-10
//     flex-basis: 83.3333%;

// .flex-offset .flex-offset-s-11
//     margin-left:  91.6666%;
// .flex-11, .flex-xs-11
//     flex-basis: 91.6666%;

// .flex-offset .flex-offset-s-12
//     margin-left:  100%;
// .flex-12, .flex-xs-12
//     flex-basis: 100%;

// @media(min-width: $screens.sm)


//     .offset-md-1,
//     .offset-md-2,
//     .offset-md-3,
//     .offset-md-4,
//     .offset-md-5,
//     .offset-md-6,
//     .offset-md-7,
//     .offset-md-8,
//     .offset-md-9,
//     .offset-md-10,
//     .offset-md-11,
//     .offset-md-12,
//     .offset-lg-1,
//     .offset-lg-2,
//     .offset-lg-3,
//     .offset-lg-4,
//     .offset-lg-5,
//     .offset-lg-6,
//     .offset-lg-7,
//     .offset-lg-8,
//     .offset-lg-9,
//     .offset-lg-10,
//     .offset-lg-11,
//     .offset-lg-12
//         margin-left: 0

//     .flex-md-1,
//     .flex-md-2,
//     .flex-md-3,
//     .flex-md-4,
//     .flex-md-5,
//     .flex-md-6,
//     .flex-md-7,
//     .flex-md-8,
//     .flex-md-9,
//     .flex-md-10,
//     .flex-md-11,
//     .flex-md-12,
//     .flex-lg-1,
//     .flex-lg-2,
//     .flex-lg-3,
//     .flex-lg-4,
//     .flex-lg-5,
//     .flex-lg-6,
//     .flex-lg-7,
//     .flex-lg-8,
//     .flex-lg-9,
//     .flex-lg-10,
//     .flex-lg-11,
//     .flex-lg-12
//         flex-basis: 100%;

//     .offset-sm-1
//         margin-left: 8.3333%;
//     .flex-sm-1
//         flex-basis: 8.3333%;


//     .offset-sm-2
//         margin-left: 16.6666%;
//     .flex-sm-2
//         flex-basis: 16.6666%;


//     .offset-sm-3
//         margin-left: 25%;
//     .flex-sm-3
//         flex-basis: 25%;


//     .offset-sm-4
//         margin-left: 33.3333%;
//     .flex-sm-4
//         flex-basis: 33.3333%;


//     .offset-sm-5
//         margin-left: 41.6666%;
//     .flex-sm-5
//         flex-basis: 41.6666%;


//     .offset-sm-6
//         margin-left: 50%;
//     .flex-sm-6
//         flex-basis: 50%;


//     .offset-sm-7
//         margin-left: 58.3333%;
//     .flex-sm-7
//         flex-basis: 58.3333%;


//     .offset-sm-8
//         margin-left: 66.6666%;
//     .flex-sm-8
//         flex-basis: 66.6666%;


//     .offset-sm-9
//         margin-left: 75%;
//     .flex-sm-9
//         flex-basis: 75%;


//     .offset-sm-10
//         margin-left: 83.3333%;
//     .flex-sm-10
//         flex-basis: 83.3333%;


//     .offset-sm-11
//         margin-left: 91.6666%;
//     .flex-sm-11
//         flex-basis: 91.6666%;


//     .offset-sm-12
//         margin-left: 100%;
//     .flex-sm-12
//         flex-basis: 100%;



// @media(min-width: $screens.md)
//     .offset-lg-1,
//     .offset-lg-2,
//     .offset-lg-3,
//     .offset-lg-4,
//     .offset-lg-5,
//     .offset-lg-6,
//     .offset-lg-7,
//     .offset-lg-8,
//     .offset-lg-9,
//     .offset-lg-10,
//     .offset-lg-11,
//     .offset-lg-12
//         margin-left: 0

//     .flex-lg-1,
//     .flex-lg-2,
//     .flex-lg-3,
//     .flex-lg-4,
//     .flex-lg-5,
//     .flex-lg-6,
//     .flex-lg-7,
//     .flex-lg-8,
//     .flex-lg-9,
//     .flex-lg-10,
//     .flex-lg-11,
//     .flex-lg-12
//         flex-basis: 100%;

//     .offset-md-1
//         margin-left: 8.3333%;
//     .flex-md-1
//         flex-basis: 8.3333%;


//     .offset-md-2
//         margin-left: 16.6666%;
//     .flex-md-2
//         flex-basis: 16.6666%;


//     .offset-md-3
//         margin-left: 25%;
//     .flex-md-3
//         flex-basis: 25%;


//     .offset-md-4
//         margin-left: 33.3333%;
//     .flex-md-4
//         flex-basis: 33.3333%;


//     .offset-md-5
//         margin-left: 41.6666%;
//     .flex-md-5
//         flex-basis: 41.6666%;


//     .offset-md-6
//         margin-left: 50%;
//     .flex-md-6
//         flex-basis: 50%;


//     .offset-md-7
//         margin-left: 58.3333%;
//     .flex-md-7
//         flex-basis: 58.3333%;


//     .offset-md-8
//         margin-left: 66.6666%;
//     .flex-md-8
//         flex-basis: 66.6666%;


//     .offset-md-9
//         margin-left: 75%;
//     .flex-md-9
//         flex-basis: 75%;


//     .flex-offset-d-10
//         margin-left: 83.3333%;
//     .flex-md-10
//         flex-basis: 83.3333%;


//     .flex-offset-d-11
//         margin-left: 91.6666%;
//     .flex-md-11
//         flex-basis: 91.6666%;


//     .flex-offset-d-12
//         margin-left: 100%;
//     .flex-md-12
//         flex-basis: 100%;



// @media(min-width: $screens.lg)

//     .offset-lg-1
//         margin-left: 8.3333%;
//     .flex-lg-1
//         flex-basis: 8.3333%;


//     .offset-lg-2
//         margin-left: 16.6666%;
//     .flex-lg-2
//         flex-basis: 16.6666%;


//     .offset-lg-3
//         margin-left: 25%;
//     .flex-lg-3
//         flex-basis: 25%;


//     .offset-lg-4
//         margin-left: 33.3333%;
//     .flex-lg-4
//         flex-basis: 33.3333%;


//     .offset-lg-5
//         margin-left: 41.6666%;
//     .flex-lg-5
//         flex-basis: 41.6666%;


//     .offset-lg-6
//         margin-left: 50%;
//     .flex-lg-6
//         flex-basis: 50%;


//     .offset-lg-7
//         margin-left: 58.3333%;
//     .flex-lg-7
//         flex-basis: 58.3333%;


//     .offset-lg-8
//         margin-left: 66.6666%;
//     .flex-lg-8
//         flex-basis: 66.6666%;


//     .offset-lg-9
//         margin-left: 75%;
//     .flex-lg-9
//         flex-basis: 75%;


//     .offset-lg-10
//         margin-left: 83.3333%;
//     .flex-lg-10
//         flex-basis: 83.3333%;


//     .offset-lg-11
//         margin-left: 91.6666%;
//     .flex-lg-11
//         flex-basis: 91.6666%;


//     .offset-lg-12
//         margin-left: 100%;
//     .flex-lg-12
//         flex-basis: 100%;



// for screen, size in $screens
//     @media(min-width: size)
//         .flex
//             for i in 1..12
//                 s = unit((100% / 12)*i, '%')
//                 &.screeni
//                     flex 0 0 s !important
//                     min-max-width(s)


//                 &.offset-screeni
//                     margin-left: s !important

// .row
//     flex: 1 1 auto;
//     margin-top: 0.5rem;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;

// .row .flex,
// .row [class|=flex],
// .section .flex
//     padding: 0 0.75rem
