.ai-aside
  overflow hidden
  flex           : 1 0 auto
  position       : relative
  flex-direction : column
  min-max-height(100%)
  flex-container()






.ai-nav-list
  margin 0
  padding 0
  .list-header
    margin 0
    padding 0
    font-size: 1.2em
    line-height: 48px
    padding-left: 24px
    font-weight: bold
    color: $grey.lighten-1

  .list-item
    margin 0
    padding 0
    font-size: 1.2em
    line-height: 48px
    flex-container()

    i
      padding-left: 24px
    a
      flex 1 0 auto
      padding-left: 24px

      &.active,
      &:active,
      &:hover
        background-color: $grey.lighten-4







