.ai-body
  order          : 1
  flex           : 1
  flex-direction : row
  position       : relative
  min-height     : 100vh
  overflow-x     : hidden
  overflow-y     : scroll
  transition     : all 1s ease
  flex-container()

    .is-row
      flex-direction row !important

    .is-column
      flex-direction column !important
