.ai-body
  order          : 1
  flex           : 1 0 auto
  flex-direction : row
  position       : relative
  min-height     : 100vh
  flex-container()

    .is-row
      flex-direction row !important

    .is-column
      flex-direction column !important
