.ai-footer
  order           : 2
  flex            : 0 0 $header-height-md
  width           : 100%
  height          : $header-height-md
  bottom 0
  flex-direction  : row
  background-color: $grey.darken-4
  flex-container()
