.ai-header
    flex-container()
    flex   : 1 0 auto
    height : $header-height

    &.header-xs
        height: $header-height-xs
    &.header-sm
        height: $header-height-sm
    &.header-md
        height: $header-height-md
    &.header-lg
        height: $header-height-lg
    &.header-xl
        height: $header-height-xl

.ai-content
    margin-top: 20px
