.ai-header
    flex-container()
    flex            : 0 0 $header-height
    height          : $header-height
    align-items     : center
    justify-content : center
    position        : relative
    box-shadow      : 0px 4px 6px rgba(0,0,0,0.2)

    &.ink
        box-shadow: none

    .toggle-btn
        top: 0
        position: absolute



    &.header-xs
        min-height: $header-height-xs
    &.header-sm
        min-height: $header-height-sm
    &.header-md
        min-height: $header-height-md
    &.header-lg
        min-height: $header-height-lg
    &.header-xl
        min-height: $header-height-xl



.ai-content
    margin-top: 20px


.ai-aside-nav
    &.aside-right
        .ai-header
            .toggle-btn
                right 0
    &.aside-left
        .ai-header
            .toggle-btn
                left 0
