.ai-main
  order          : 1
  flex           : 1 0 auto
  flex-direction : column
  max-width      : 100vw
  position       : relative
  flex-container()
  // padding-top 10px

  &.main-container
      max-width: $main-max-width
