.ai-main
  order          : 0
  flex           : 1 0 auto
  flex-direction : column
  position       : relative
  // min-width      : 100%
  // min-height     : 100vh
  // height:         100%
  flex-container()

  &.main-container
      max-width: $main-max-width
