.ai-main
  order          : 0
  flex           : 0 0 100%
  flex-direction : column
  position       : relative
  min-width      : 100vw
  // min-height     : 100vh
  // height:         100%
  flex-container()

  &.main-container
      max-width: $main-max-width
