.ai-section
    flex-container()
    padding-top: 1rem
    padding-bottom: 1rem
    .section.no-pad
        padding: 0
    .section.no-pad-bot
        padding-bottom: 0
    .section.no-pad-top
        padding-top: 0
