.btn
    background-color: $blue.base

.btn-large
    background-color: $blue.base
.ai-btn
    flex-container()
    border         : none
    align-items    : center
    border-radius  : 2px
    justify-content: center
    box-shadow: 0 2px 4px rgba(0,0,0,0.2)
    padding: 0
    margin: 0
    text-align: center

    &.btn-round
        border-radius: 100%
        height 64px
        width 64px


    &.btn-sm
        height: 40px
        width: 40px
    &.btn-md
        height: 64px
        width: 64px
    &.btn-lg
        height: 80px
        width: 80px

    &.btn-flat
        box-shadow: 0

    &:hover
        box-shadow: 0px 6px 8px rgba(0,0,0,0.2)

    &:active
        box-shadow: 0px 3px 5px rgba(0,0,0,0.2)

    .action-buttons
        .ai-btn
            width:  0 !important
            height: 0 !important

    .primary-action
        flex-container()
        flex           : 1 0 auto
        align-items    : center
        justify-content: center

create-reveal(side, direction, order, alignment, sizing)
    &.reveal-{side}
        flex            : 1 0 auto
        flex-direction  : direction
        justify-content : alignment
        .primary-action
            order: order
        .action-buttons
            order: -(order)
            flex-direction direction
            min-max-{sizing}($btn-size)


.ai-action-reveal
    flex-container()
    position: relative
    flex-direction: column
    align-items: center
    justify-content: center
    cursor: pointer

    .action-buttons
        flex-container()
        overflow        : hidden
        align-items     : center
        justify-content : center
        position        : relative
        flex-direction  : column
        text-align center
        .ai-btn
            margin 0 5px
            overflow: hidden
            width 0
            height 0

    create-reveal(left  , row   ,  1, flex-end  , height)
    create-reveal(right , row   , -1, flex-start, height)
    create-reveal(top   , column,  1, flex-end  , width )
    create-reveal(bottom, column, -1, flex-start, width )

    &:hover
        .action-buttons
            .ai-btn
                width  $btn-size-xs
                height $btn-size-xs

