.btn
    background-color: $blue.base

.btn-large
    background-color: $blue.base
a.ai-btn,
.ai-btn
    flex-container()
    padding        : 0 2rem
    float          : left
    margin         : 20px 20px 0 0
    outline        : none
    border         : none
    text-align     : center
    align-items    : center
    justify-content: center
    // align-self     : flex-start
    box-shadow     : $btn-box-shadow
    border-radius  : $btn-border-radius
    line-height    : $btn-line-height
    transition     : $btn-transition
    background     : $btn-themes-bg.default
    color          : $btn-themes-color.default
    &:hover
        box-shadow: $btn-hover-box-shadow
    &:active
        box-shadow: $btn-active-box-shadow

    if $btn-is-uppercase
        text-transform : uppercase

    &.btn-round
        border-radius: 100%
        height 64px
        width 64px


    &.btn-sm
        padding    : 0 1.6rem
        line-height: 24px
    &.btn-md
        line-height: 38px
    &.btn-lg
        padding    : 0 3rem
        line-height: 64px
    &.btn-xl
        padding    : 0 4rem
        line-height: 80px

    &.btn-flat
        box-shadow: 0



    .action-buttons
        .ai-btn
            width:  0 !important
            height: 0 !important

    .primary-action
        flex-container()
        flex           : 1 0 auto
        align-items    : center
        justify-content: center


    ai-theme-varients(btn, $btn-themes-bg, $btn-themes-color)
    // &.btn-default
    //     ai-theme-varient($btn-default-bg, $btn-default-color)

    // &.btn-primary
    //     ai-theme-varient($btn-primary-bg, $btn-primary-color)

    // &.btn-info
    //     ai-theme-varient($btn-info-bg, $btn-info-color)

    // &.btn-success
    //     ai-theme-varient($btn-success-bg, $btn-success-color)

    // &.btn-warning
    //     ai-theme-varient($btn-warning-bg, $btn-warning-color)

    // &.btn-danger
    //     ai-theme-varient($btn-danger-bg, $btn-danger-color)

    // &.btn-invert
    //     ai-theme-varient($btn-invert-bg, $btn-invert-color)


create-reveal(side, direction, order, alignment, sizing)
    &.reveal-{side}
        flex            : 1 0 auto
        flex-direction  : direction
        justify-content : alignment
        .primary-action
            order: order
        .action-buttons
            order: -(order)
            flex-direction direction
            min-max-{sizing}($btn-size)


.ai-action-reveal
    flex-container()
    position: relative
    flex-direction: column
    align-items: center
    justify-content: center
    cursor: pointer

    .action-buttons
        flex-container()
        overflow        : hidden
        align-items     : center
        justify-content : center
        position        : relative
        flex-direction  : column
        text-align center
        .ai-btn
            margin 0 5px
            overflow: hidden
            width 0
            height 0
            transition height 400ms cubic-bezier(0,.9,.01,.99), width 400ms cubic-bezier(0,.9,.01,.99)
        for index in 1..12
            delay = (index * 100) / 2
            .ai-btn:nth-child({index})
                transition height 400ms cubic-bezier(0,.9,.01,.99) unit(delay, 'ms') , width 400ms cubic-bezier(0,.9,.01,.99) unit(delay, 'ms')



    create-reveal(left  , row   ,  1, flex-end  , height)
    create-reveal(right , row   , -1, flex-start, height)
    create-reveal(top   , column,  1, flex-end  , width )
    create-reveal(bottom, column, -1, flex-start, width )

    &:hover
        .action-buttons
            .ai-btn
                width  $btn-size-xs
                height $btn-size-xs

