.ai-dropdown
    overflow: visible
    position: relative
    flex-container()


    .dropdown-container
        flex-container()
        width 0%
        height 0%
        overflow: hidden
        flex: 1 0 auto
        z-index: 1000
        position: absolute
        top: 102%
        left: 0
        background-color: white
        box-shadow 0px 4px 8px rgba(0,0,0,0.2)
        transition height 600ms cubic-bezier(0,.9,.01,.99), width 200ms cubic-bezier(0,.9,.01,.99)

        .ai-list
            min-width: 100%
            overflow: scroll
            & > *
                min-width: 100%


    &.dropdown-left
        right 0

    &.dropdown-right
        left 0

    &.dropdown-open
        .dropdown-container
            width 100%


