reset-input(){
	padding         : 0
	border          : none
	outline         : none
	background      : transparent
	background-color: transparent
}

create-input-theme-varient(label, color)
	&.input-{label}
		.input-border
			background-color: color !important
			background      : color !important

		&.active
			.input-label
				color: color !important


.ai-input

	position    : relative
	width       : 100%
	cursor      : text !important
	flex        : 1 0 auto
	height      : $input-height
	line-height : $input-height
	margin-top  : ($input-height / 2)
	flex-container()

	.input-control
		position: relative
		order: 0
		flex:  1 0 auto
		flex-container()

	.input-postfix,
	.input-prefix
		position: relative
		flex: 0 0 48px
		flex-container()
		align-items: center
		justify-content: center

	.input-prefix
		order: -1

	.input-postfix
		order: 2

	.input-control > input
		reset-input()
		flex          : 1 0 auto
		color         : $input-color
		width         : inherit
		position      : relative
		height        : $input-height

		border-bottom : 1px solid $grey.lighten-2

	.input-label
		cursor       : text !important
		position     : absolute
		line-heaght  : ($input-height / 2)
		height       : ($input-height / 2)
		width        : 100%
		color        : $input-label-color
		top          : 50%
		margin-top   : -($input-height / 2)
		transition   : all 400ms $cubic-ease-out

	.input-border
		min-height      : 2px
		height          : 2px
		max-height      : 2px
		width           : 0
		border-radius   : 10px
		background-color: $input-default-border
		background      : $input-default-border
		display         : block
		position        : absolute
		bottom          : 0
		left            : 50%
		opacity         : 0
		transition      : all 400ms $cubic-ease-out

	.input-icon
		position    : absolute
		top         : 0
		left        : -24px
		line-heaght : $input-height
		color       : $input-default-label-color

	&.has-icon
		padding-left 24px !important


	&.has-value
		.input-label
			top    : -($input-height / 1.7) !important
			margin : 0 !important

	&.active
		.input-label
			top    : -($input-height / 1.7)
			margin : 0
			color  : $input-default-label-color
		.input-border
			width   : 100%
			left    : 0
			opacity : 1


	create-input-theme-varient(primary, $color-primary)
	create-input-theme-varient(info, $color-info)
	create-input-theme-varient(success, $color-success)
	create-input-theme-varient(warning, $color-warning)
	create-input-theme-varient(danger, $color-danger)
	create-input-theme-varient(invert, $color-invert)
