ai-theme-varient(bg, color)
    color            : color
    background       : bg
    background-color : bg


ai-theme-varients(prefix, backgrounds, colors)
    for theme in $theme-lables
        &.{prefix}-{theme}
            color            : colors[theme] !important
            background       : backgrounds[theme] !important
            background-color : backgrounds[theme] !important
    &.{prefix}-invert
        color            : colors.invert !important
        background       : backgrounds.invert !important
        background-color : backgrounds.invert !important
