min-max-width(value)
  width      : value
  min-width  : value
  max-width  : value


min-max-height(value)

  height      : value
  min-height  : value
  max-height  : value




box-sizing(value)
  -webkit-box-sizing: value
  -moz-box-sizing: value
  box-sizing: value



flex-container()
  box-sizing(border-box)
  display: -webkit-box;          // iOS 6-, Safari 3.1-6
  display: -moz-box               // Firefox 19-
  display: -ms-flexbox            // IE 10
  display: -webkit-flex           // Chrome
  display: flex                   // Opera 12.1-, Firefox 20+



align(value)
  align-items : value

justify(value)
  justify-content : value

overflow-scroll()
  -webkit-overflow-scrolling: touch
  overflow: scroll
scroll-vertical()
  -webkit-overflow-scrolling: touch
  overflow-y: scroll

scroll-horizontal()
  -webkit-overflow-scrolling: touch
  overflow-x: scroll


no-select()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none



