

/*==========================================|  SCREEN
*/
$small-screen-up = 601px
$medium-screen-up = 993px
$large-screen-up = 1201px
$small-screen = 600px
$medium-screen = 992px
$large-screen = 1200px



/*==========================================|  NAV
*/
$nav-bar-height-xs              = 48px
$nav-bar-height-sm              = 64px
$nav-bar-height-md              = 80px
$nav-bar-height-lg              = 120px
$nav-bar-height-xl              = 240px
$nav-bar-height                 = $nav-bar-height-sm

$nav-aside-width                 = 250px
$nav-aside-width-mobile          = 80%
$nav-aside-fold-width            = 64px
$nav-aside-heading-height        = 64px
$nav-aside-heading-height-tall   = 250px

$nav-action-width            = 250px
$nav-action-width-fold       = 64px
$nav-action-height           = 64px

/*==========================================|  HEADER
*/
$header-height-xs              = 48px
$header-height-sm              = 64px
$header-height-md              = 120px
$header-height-lg              = 180px
$header-height-xl              = 240px
$header-height                 = $header-height-sm

/*==========================================|  ASIDE
*/

$aside-width-xs              = 150px
$aside-width-sm              = 200px
$aside-width-md              = 250px
$aside-width-lg              = 320px
$aside-width-xl              = 240px
$aside-width                 = 0px
$aside-fold-width            = 64px

/*==========================================|  MAIN
*/
$main-max-width              = 70%

/*==========================================|  TOOLBAR
*/

$toolbar-height-xs              = 48px
$toolbar-height-sm              = 64px
$toolbar-height-md              = 120px
$toolbar-height-lg              = 180px
$toolbar-height-xl              = 240px
$toolbar-height                 = $toolbar-height-sm


