

/*==========================================|  SCREEN
*/
$small-screen-up = 601px
$medium-screen-up = 993px
$large-screen-up = 1201px
$small-screen = 600px
$medium-screen = 992px
$large-screen = 1200px



/*==========================================|  NAV
*/
$nav-bar-height-xs              = 48px
$nav-bar-height-sm              = 64px
$nav-bar-height-md              = 80px
$nav-bar-height-lg              = 120px
$nav-bar-height-xl              = 240px
$nav-bar-height                 = $nav-bar-height-sm

$nav-aside-width                 = 250px
$nav-aside-width-mobile          = 80%
$nav-aside-fold-width            = 64px
$nav-aside-heading-height        = 64px
$nav-aside-heading-height-tall   = 250px

$nav-action-width            = 250px
$nav-action-width-fold       = 64px
$nav-action-height           = 64px
