.ai-body
  order          : 1
  flex           : 2 0 auto
  flex-direction : row
  min-max-width(100%)
  flex-container()

.is-row
  flex-direction row !important

.is-column
  flex-direction column !important
