.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.pictureDetail {
    max-width: 425px;
}

.page-heading {
    font-size: 100px;
    margin: 100px;
    font-weight: 100;
}

.ai-main {
    /*background-image: url("images/material.png");
    background-position: center;
    background-size: cover;
    min-height: 600px;    */
}


.markdown-body h1 .anchor,
.markdown-body h2 .anchor,
.markdown-body h3 .anchor,
.markdown-body h4 .anchor,
.markdown-body h5 .anchor,
.markdown-body h6 .anchor {
    display: none;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    padding-left: 8px;
    margin-left: -30px;
    text-decoration: none;
    display: inline-block;
}

.markdown-body h1 .anchor .glyphicon-link,
.markdown-body h2 .anchor .glyphicon-link,
.markdown-body h3 .anchor .glyphicon-link,
.markdown-body h4 .anchor .glyphicon-link,
.markdown-body h5 .anchor .glyphicon-link,
.markdown-body h6 .anchor .glyphicon-link {
    font-size: 16px;
    color: #000;
    width: 22px;
}
